@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=PT+Sans+Narrow:wght@400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
}
.imghover{
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.imghover:hover{
    border: 5px solid;
    filter: brightness(90%);
    border-image-slice: 1;
    border-image-source: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    padding: 5px;
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-evenly;
}
.imgnamecolor{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);   
}
.para{
    text-align: justify;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    line-height: 50px;
}
.mpara{
    text-align: justify;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    line-height: 50px;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
ul .para{
    font-family: "Crimson Text", serif;
    font-weight: 600;
    line-height: 50px;
}
.hertzheading{
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#hertzheading{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
#headstick{
    position: sticky;
    top: 0;
    z-index: 1;
}
.abouthead{
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.aboutpara{
    font-family: "Crimson Text", serif;
    font-weight: 500;
}
.dropeven a{
    display: flex;
    justify-content: space-evenly;    
}
.whyhertz{
    font-weight: bolder;
}
.imgheight{
    height: 90%;
}
footer{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);  
}
#contact{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.dropleft:hover > .dropdown-menu{
    display: block;
    margin-top: 0%;
}
.dropdown-menu{
    width: 100%;
    position: relative;
    left: 100px;
}
.foothead{
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

              