@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=PT+Sans+Narrow:wght@400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
}
.imghover{
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.imghover:hover{
    border: 5px solid;
    filter: brightness(90%);
    border-image-slice: 1;
    border-image-source: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    padding: 5px;
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-evenly;
}
.imgnamecolor{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);   
}
.para{
    text-align: justify;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    line-height: 50px;
}
ul .para{
    font-family: "Crimson Text", serif;
    font-weight: 600;
    line-height: 50px;
}
.hertzheading{
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.abouthead{
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.aboutpara{
    font-family: "Crimson Text", serif;
    font-weight: 500;
}
#bgcontain{
    background-image: url(./images/About\ us.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #cf23cf;
}
.parazi{
    
}


              