*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
}
.imghover{
    height: 500px;
    transition: all 0.2s ease-in-out;
}
.imghover:hover{
    border: 5px solid;
    filter: brightness(90%);
    border-image-slice: 1;
    border-image-source: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    padding: 5px;
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-evenly;
}
.imgnamecolor{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);   
}
